*.bak
*.log
*.out
*KLS*
.DS_Store
.Rhistory
.Rproj.user
.idea/
.nfs*
.snakemake/
__pycache__/
benchmarks/
bin/
core.*
paper/paper_before-review_no-figures.pdf
paper/revisions.zip
subworkflows/*/data
test/
tmp/
