bin/
test/
tmp/
data*
log
*.log
.snakemake/
.DS_Store
.Rproj.user
.Rhistory
Rplots.pdf
.idea/
core.*
.nfs*
*.dist
*.list
*.count_table
*.fasta
*.steps
*.summary
*.sensspec
*.txt
*benchmarks*
*KLS*
*.bak
bin/
__pycache__/
