# Auto detect text files and perform LF normalization
** text=auto
*.smk linguist-language=Python
*.R linguist-language=R
paper/paper.tex linguist-vendored=true
paper/references.bib linguist-vendored=true
code/tests/data/* linguist-vendored=true
