* text=auto # Auto detect text files and perform LF normalization
*.smk linguist-language=Python
Snakefile linguist-language=Python
*.Rmd linguist-language=R
code/legacy/* linguist-vendored=True
code/pbs_scripts/legacy/* linguist-vendored=True
